<html>
<body class="home">
<h1 class="festin">Fest'inBordeaux</h1>
<p class="actualite">L'actualité des festivals sur Bordeaux !</p>
<div class="button">
<%= link_to "Voir les articles !", articles_path, class: "btn btn-primary" %>
</div>
<div class="footer">
	<p> contact@festinbordeaux.com </p>
</div>
</body>
</html>

